@page
@model Dissertation.Pages.News.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>News Posts</h1>
<h2>Filter by Tag</h2>
<form method="post">
    @foreach (var tag in Model.Tags)
    {
        <input type="submit" asp-route-f="@tag.Id" value="@tag.Tag" class="btn" asp-page-handler="Filter"/>
    }
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].PublishDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
        </tr>
}
    </tbody>
</table>
