@page
@model Dissertation.Pages.News.PostModel

@{
    ViewData["Title"] = $"{Model.Article.Title} | News";
}

<img class="header-image mw-100" src="@($" https://dissertationad.blob.core.windows.net/news-banner-images/{Model.Article.Id}.png")" alt="@Model.Article.Title" onerror="this.className = 'd-none';" />
<h1>@Model.Article.Title</h1>

<div>
    <h4>@Model.Article.AuthorId @(Model.Article.PublishDate != null ? $"| {((Model.Article.PublishDate ?? DateTime.Now) + TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow)).ToString("dd/MM/yyyy")}" : "")</h4>
    <ul class="ps-0">
        @foreach(var t in Model.Tags)
        {
                <a asp-page="./Index" asp-route-filter="@t.Id"><li class="btn">@t.Tag</li></a>
        }
    </ul>
    <hr />
    <dl class="row">
        <md-block>
            @Model.Article.Content
        </md-block>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn">View all News Posts</a>
</div>
