@page
@model Dissertation.Pages.Information.Sponsors.IndexModel

@{
    ViewData["Title"] = "Sponsors";
}

<h1>Sponsors</h1>
<div class="row sponsor-row">
    @foreach (var item in Model.Sponsor) {
        var h = $"h-{item.Id}";
        var c = $"c-{item.Id}";
        var e = $"e-{item.Id}";
        var imgLink = $"https://dissertationad.blob.core.windows.net/sponsor-images/{item.Id}.png";
        <div class="col col-12 col-sm-6 col-md-4 pb-3">
            <div class="accordion h-100" id="@e">
                <div class="accordion-item h-100 d-flex flex-column">
                    <h2 class="accordion-header d-flex flex-grow-1" id="@h">
                        <button class="accordion-button collapsed footer-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#@c" aria-expanded="false" aria-controls="@c">
                            <img class="sponsor-image" src="@imgLink" alt="@item.Name" />
                        </button>
                    </h2>
                    <div id="@c" class="accordion-collapse collapse" aria-labelledby="@h" data-bs-parent="#@e">
                        <div class="accordion-body">
                            <md-block>@item.Information</md-block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>