@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!-- 
/img/Carousel/img-1.jpeg
/img/Carousel/img-2.jpg
/img/Carousel/img-3.png
-->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade pb-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        @for(int i = 1; i <= Model.Image.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" aria-label="Slide @(i+1)"></button>
        }
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@($"https://dissertationad.blob.core.windows.net/gallery/{Model.ActiveImage.Id}.png")" class="d-block w-100" alt="@Model.ActiveImage.Caption">
            <div class="carousel-caption d-none d-md-block">
                <h5>@Model.ActiveImage.Caption</h5>
                <p>@Model.ActiveImage.Description</p>
            </div>
        </div>
        @foreach(var item in Model.Image)
        {
             <div class="carousel-item">
                <img src="@($"https://dissertationad.blob.core.windows.net/gallery/{item.Id}.png")" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Caption</h5>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h2>Latest News</h2>
<div class="row news-row homepage-news">
    @foreach (var item in Model.Article)
    {
        <div class="col col-12 col-sm-6 col-lg-4 pb-3 d-flex">
            <a asp-page="./News/Post" asp-route-id="@item.Id" class="d-flex">
                <div class="article-preview flex-grow-1">
                    <div class="banner-img-wrapper">
                        <img class="banner-image" src="@($" https://dissertationad.blob.core.windows.net/news-banner-images/{item.Id}.png")" alt="@item.Title" onerror="if (this.src != '/img/logo-169.png') this.src = '/img/logo-169.png';" />
                    </div>

                    <hr />
                    <h2>@item.Title</h2>
                    <div class="preview-wrapper px-2">
                        @{
                            var words = (item.Content ?? "").Split(' ').Take(50);
                            string output = "";
                            foreach (var word in words)
                            {
                                output += word + " ";
                            }
                            output = output.Trim();
                            if ((item.Content ?? "").Split(' ').Count() > 50)
                            {
                                output += "...";
                            }
                            <md-block>@output</md-block>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>
