@page
@model Dissertation.Pages.About.Gallery.IndexModel

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

@foreach (var item in Model.Image) {
    <img src="https://dissertationad.blob.core.windows.net/gallery/{item.Id}.png" alt="@item.Caption" class="vh-25" />
            
                @* @Html.DisplayFor(modelItem => item.Caption)
                @Html.DisplayFor(modelItem => item.Description)
                @Html.DisplayFor(modelItem => item.Link)
            
                @Html.DisplayFor(modelItem => item.UploadedBy) *@

}