@page
@model Dissertation.Pages.Information.FAQs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Frequently Asked Questions</h1>
<div class="row faq-row">
    @foreach (var item in Model.FAQ)
    {
        var h = $"h-{item.Id}";
        var c = $"c-{item.Id}";
        var e = $"e-{item.Id}";
        <div class="col col-12 col-sm-6 col-md-4 pb-3">
            <div class="accordion" id="@e">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@h">
                        <button class="accordion-button collapsed footer-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#@c" aria-expanded="false" aria-controls="@c">
                            @item.Question
                        </button>
                    </h2>
                    <div id="@c" class="accordion-collapse collapse" aria-labelledby="@h" data-bs-parent="#@e">
                        <div class="accordion-body">
                            @item.Answer
                        </div>
                    </div>
                </div>
                </div>
        </div>
    }
</div>

