@page
@model Dissertation.Pages.Information.FAQs.Manage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Question Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FAQ.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FAQ.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FAQ.Answer)
        </dt>
        <dd class="col-sm-10">
            <md-block>@Html.DisplayFor(model => model.FAQ.Answer)</md-block>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FAQ.Id" class="btn">Edit</a>
    <a asp-page="./Index" class="btn">Back to List</a>
</div>
