@page
@model Dissertation.Pages.News.Manage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Article.Title - Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.AuthorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd class="col-sm-10">
            <md-block>@Html.DisplayFor(model => model.Article.Content)</md-block>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.HomepageDisplay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.HomepageDisplay)
        </dd>
        <dt class="col-sm-2">
            Banner Image
        </dt>
        <dd class="col-sm-10">
            <img class="banner-image" src="@($" https://dissertationad.blob.core.windows.net/news-banner-images/{Model.Article.Id}.png")" alt="@Model.Article.Title" onerror="this.className = 'd-none';" />
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            <ul class="ps-0">
                @foreach(var t in Model.Tags)
                {
                    <li class="btn tag-show">@t.Tag</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id" class="btn">Edit</a>
    <a asp-page="./Index" class="btn">Return</a>
</div>
