@page
@model Dissertation.Pages.News.Manage.EditModel

@{
    ViewData["Title"] = $"Edit – {Model.Article.Title}";
}

<h1>Edit News Article</h1>

<hr />

<form method="post" enctype="multipart/form-data">
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Article.Title" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Article.Title" class="form-control" />
            <span asp-validation-for="Article.Title" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Article.AuthorId" class="control-label">Author</label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Article.AuthorId" class="form-control" />
            <span asp-validation-for="Article.AuthorId" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Article.Content" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="Article.Content" class="form-control"></textarea>
            <span asp-validation-for="Article.Content" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Article.PublishDate" class="control-label">Publish Date and Time</label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Article.PublishDate" class="form-control" />
            <span asp-validation-for="Article.PublishDate" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Article.HomepageDisplay" class="control-label">Display on Homepage?</label>
        </dt>
        <dd class="col-sm-10">
            <input type="hidden" asp-for="Article.HomepageDisplay" value="@true" />
            <input type="checkbox" asp-for="HomepageDisplay" />
            <span asp-validation-for="HomepageDisplay" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Banner Image</label>
        </dt>
        <dd class="col-sm-10">
            <img class="sponsor-image w-25" src="@($" https://dissertationad.blob.core.windows.net/news-banner-images/{Model.Article.Id}.png")" alt="@Model.Article.Title" onerror="this.className = 'd-none';" />
            <input type="file" id="file1" name="file1" multiple="multiple" class="form-control mt-1" />
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Categories</label>
        </dt>
        <dd class="col-sm-10">
            @foreach (var tag in Model.Tags)
            {
                <div class="form-check form-check-inline ps-0 pe-1">

                    @if (Model.Links.FirstOrDefault(l => l.TagId == tag.Id) != null)
                    {
                        <input class="btn-check" type="checkbox" id="@($"tagbox-{tag.Id}")" name="@($"tagbox-{tag.Id}")" value="true" checked />
                    }
                    else
                    {
                        <input class="btn-check" type="checkbox" id="@($"tagbox-{tag.Id}")" name="@($"tagbox-{tag.Id}")" value="true" />
                    }

                    <label class="btn btn-outline-primary" for="@($"tagbox-{tag.Id}")">@tag.Tag</label>
                </div>
            }
        </dd>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Article.Id" />
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-danger">Back to List</a>
        </dd>
    </dl>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
