@page
@model Dissertation.Pages.News.Manage.IndexModel

@{
    ViewData["Title"] = "Manage News Posts";
}

<h1>Manage News Posts</h1>

<p>
    <a asp-page="Create" class="btn">New News Post</a>
    <a asp-page="Tags/Index" class="btn">Manage Tags</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
