@page
@model Dissertation.Pages.News.Manage.IndexModel

@{
    ViewData["Title"] = "Manage News Posts";
}

<h1>Manage News Posts</h1>

<p>
    <a asp-page="Create" class="btn">New News Post</a>
    <a asp-page="Tags/Index" class="btn">Manage Tags</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                Author
            </th>
            <th>
                Publish Date and Time (your local time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                    @if (item.PublishDate != null)
                    {
                        if(item.PublishDate < DateTime.UtcNow)
                        {
                            <p>@(TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.PublishDate, TimeZoneInfo.Local).ToString("HH:mm, dd/MM/yyyy"))</p>
                        }
                        else
                        {
                            <p class="text-danger">@(TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.PublishDate, TimeZoneInfo.Local).ToString("HH:mm, dd/MM/yyyy"))</p>
                        }
                    }
                    else
                    {
                        <p class="text-danger">Draft</p>
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
