@page
@model Dissertation.Pages.Information.Sponsors.Manage.DetailsModel

@{
    ViewData["Title"] = $"Sponsor Details - {Model.Sponsor.Name}";
}

<h1>Sponsor Details - @Model.Sponsor.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Name)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img class="sponsor-image" src="@($" https://dissertationad.blob.core.windows.net/sponsor-images/{Model.Sponsor.Id}.png")" alt="@Model.Sponsor.Name" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor.Information)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Information)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sponsor.Id" class="btn">Edit</a>
    <a asp-page="./Index" class="btn">Back to List</a>
</div>
