@page
@model Dissertation.Pages.Information.Sponsors.Manage.IndexModel

@{
    ViewData["Title"] = "Manage Sponsors";
}

<h1>Manage Sponsors</h1>

<p>
    <a asp-page="Create" class="btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sponsor[0].Name)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sponsor[0].Information)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sponsor) {
            var imgLink = $"https://dissertationad.blob.core.windows.net/sponsor-images/{item.Id}.png";
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <img class="sponsor-image" src="@imgLink" alt="@item.Name" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn w-100 mb-1">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn w-100 mb-1">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger w-100">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
